.hw_se {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
}
.et_pb_equal_columns .hw_se {
    height: 100%;
}

.hw_se_box_one {
    flex-flow: row wrap;
    align-items: center;
    /* perspective: 500px; */
    /* transform: scale(0.75); */
    /* transform-style: preserve-3d; */
    /* width: 100%; */
    /* position: relative; */
    z-index: 1;
}
.et_pb_column_1_4 .hw_se_box_one,
.et_pb_column_1_3 .hw_se_box_one,
.et_pb_column_1_2 .hw_se_box_one,
.et_pb_column_3_8 .hw_se_box_one {
    width: 100%;
}
.et_pb_column_1_4 .hw_se_date_box,
.et_pb_column_1_3 .hw_se_date_box,
.et_pb_column_1_2 .hw_se_date_box,
.et_pb_column_3_8 .hw_se_date_box  {
    margin: 0 auto;
}

.hw_se_date_box {
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform .45s ease-in;
    transition: transform .45s ease-in;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 500px;
}
.hw_se_box_one:hover .hw_se_date {
    opacity: 0;
}

.hw_se_box_one:hover .hw_se_image {
    opacity: 1;
}
.hw_se_date {
    transition: all .3s linear;
}
.hw_se_date, .hw_se_image {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    transform-origin: bottom;
}
.hw_se_image {
    display: flex;
    position: absolute;
    /* width: 100%; */
    top: 0;
    opacity: 0;
    transition: all .6s linear;
} 
.hw_se_box_one.flip:hover .hw_se_date {
    transform: translateZ(-0px) rotateX(85deg);
    opacity: 0.5;
}
.hw_se_box_one.flip:hover .hw_se_image {
    transform: translateZ(0px) scale(1);
}
.flip .hw_se_image {
    transform-origin: center;
    transform: translateZ(-150px);
} 

/* DATE POSITION */
.bottom-left .hw_se_date {
    text-align: left;
    justify-content: flex-start;
    align-content: flex-end;
}
.centered .hw_se_date {
    text-align: center;
    justify-content: center;
    align-content: center;
}
/* END DATE POSITION */


.hw_se_box_container {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
}
.hw_se_box_inner {
    display: flex;
    flex-flow: row wrap;
	flex-grow: 1;
    justify-content: space-between;
    padding: 1px;
}
.hw_se_box_two, .hw_se_box_three {
    padding: 20px;
	}
.hw_se_box_three {
    background-color: #ececec;
}
.hw_se_venue_address .location-title, .hw_se_contact_info .contact-title {
    font-weight: bold;
}
/* .hw_se_venue_address {
    flex-basis: 50%;
    flex-grow: 2;
    padding-bottom: 10px;
}
.hw_se_contact_info {
    flex-basis: 50%;
    flex-grow: 2;
}
*/
.hw_se_content {
    flex-basis: 100%;
	}
.hw_se_buttons {
	width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0 1px 1px 0;
	}
    
/* FULLWIDTH BUTTONS */
.fullwidth_buttons.hw_se_buttons {
    flex-direction: column;
}
.fullwidth_buttons.hw_se_buttons .et_pb_button {
    margin-left: 0;
    flex-basis: 100%;
}
/* END FULLWIDTH BUTTONS */

.hw_se_buttons .et_pb_button {
	flex-grow: 1;
    display: flex;
    margin-left: 1px;
	flex-basis: calc(50% - 1px);
	}

.hw_se_image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.hw_se_day {
    order: 0;
	line-height:1.2em;
	padding:0 4px;
	font-size:30px;
}
.hw_se_month {
    order: 2;
	line-height:1.2em;
	padding:0 4px;
	font-size:30px;
}
.hw_se_year {
    order: 4;
	line-height:1.2em;
	padding:0 4px;
	font-size:15px;
	flex-basis:100%;
}
















