.et-pb-all-modules > li.et_pb_hw_se:before {
    content: '';
    background-image: url(../images/icon.png);
    background-size:contain;
    width:32px;
    height:32px;
}
.et-pb-all-modules > li.et_pb_hw_se {
	background: rgba(102,51,153,0.75);
	border:1px solid #fff;
    color: #fff;
    font-weight: bold;
	transition:all 0.3s linear;
}
.et-pb-all-modules > li.et_pb_hw_se:hover {
    background: rgba(102,51,153,0.75);
    border: 1px solid rgba(0,0,0,0.05);
    color: #fff;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.25);
}
/* Library Items */
.et_pb_saved_layouts_list > li.et_pb_hw_se {
    background: rgba(102,51,153,0.75);
	border:1px solid #fff;
    color: #fff;
    font-weight:bold;
	transition:all 0.3s linear;
}
.et_pb_saved_layouts_list > li.et_pb_hw_se a {
    color: #fff;
}
.et_pb_saved_layouts_list > li.et_pb_hw_se:hover {
    background: rgba(102,51,153,0.75);
    border: 1px solid rgba(0,0,0,0.05);
    color: #fff;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.25);
}